<div class="content container">
  <div class="row">
    <div class="col-4">
      <img src="https://dl.dropboxusercontent.com/s/4746e8seosuolsz1mmc2c/kayak-perlis.jpg?rlkey=3dqxkoitl203ld3mt49z1gq0e&st=v5q6mpj0" class="rounded float-start img-thumbnail custom-thumbnail">
    </div>    
    <div class="col-8">
      <h3>Hello!</h3>
      <p>My name is Nur 'Ain Sofea.</p>
      <p>I am naturally curious and have a strong passion for learning. 
      I wanted to explore new interest and acquiring knowledge of wide range of subjects. 
      My diverse interests helps me to touch topics of various areas, constantly seeking to expand my understanding and skills. 
      This trait makes me continuously explore new challenges and opportunities.</p>
      
      <h5>Background Education</h5>
      <p>Bachelor of Information Technology UiTM Shah Alam<br>
      Diploma in Computer Science UiTM Jasin</p>

      <h5>Career Goals</h5>
      <p>To acquire versatility of tech stacks<br>
      To connect and learn from experienced individuals in the industry</p>

      <h5>Technical Skills</h5>
      <p class="header"><h6 class="header">Languages:</h6> MySQL, PHP, C++, C#, JavaScript<br>
      <p class="header"><h6 class="header">Frameworks:</h6> Laravel, VueJs, NuxtJS<br>
    </div>
  </div>
</div>
