<div class="main container content">
<h2>Contacts</h2>
<div class="col-8">
<p><a href="https://github.com/ainsofea" target="_blank"><i class="fab fa-github"></i></a> Github</p>
<p><a href="https://www.linkedin.com/in/ainsofea/" target="_blank"><i class="fa fa-link"></i></a> LinkedIn</p>
<p><a href="mailto:ainsofeashahruddin@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a> Email</p>
</div>
</div>