<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content= 
		"width=device-width, initial-scale=1.0"> 	
</head>

<body>
<div class="content main container">

<img src="https://dl.dropboxusercontent.com/s/odbj8iqt1z1vz1hog9s1o/movieapp-01.png?rlkey=nmxph17eexgyzo36nd13005mp&st=3rbabry1&dl=0" class="img-thumbnail">
<h2 class="header">Movie App</h2> 
<a href="https://github.com/ainsofea/MovieApp" class="header" target="_blank"><i class="fab fa-github"></i></a>
<p>Web to show movies, description of the movie and actors with their biography.</p>

  <div class="row">
    <div class="col">
<img src="https://dl.dropboxusercontent.com/s/6po0qwv3qnjexxg57armg/bass-music-01.png?rlkey=ry44bm9pna3q2vcq2z46qv2yp&st=nye2lw6b&dl=0" class="img-thumbnail">
<h2 class="header">Bass Music</h2>
<a href="https://github.com/ainsofea/bass-music" class="header" target="_blank"><i class="fab fa-github"></i></a>
<p>Collection of music album consist of tracks and the artists.</p>
</div>

    <div class="col">
<img src="https://dl.dropboxusercontent.com/s/wrdttw3d4pe505t47ui2a/bolt-network-01.png?rlkey=povo9qckwikpkrhkfdswgup52&st=xbvl5ijx&dl=0" class="img-thumbnail">
<h2 class="header">Bolt Network</h2>
<a href="https://github.com/ainsofea/bolt-network" class="header" target="_blank"><i class="fab fa-github"></i></a>
<p>Showcases variation of movie titles.</p>
</div>
    
    <div class="col">
<img src="https://dl.dropboxusercontent.com/s/zz2bmwo6rlhbopvoagg97/bookmarks-01.png?rlkey=qis6sia9p0p5z3dduljagq3f5&st=6qnv9uyi&dl=0" class="img-thumbnail">
<h2 class="header">Bookmarks</h2>
<a href="https://github.com/ainsofea/bookmarks" class="header" target="_blank"><i class="fab fa-github"></i></a>
<p>Lists of book title, authors, ranking with reviews by the reader.</p>
</div>
  </div>

  <div class="row">
  <div class="col">
<img src="https://dl.dropboxusercontent.com/s/68gi8rwzvsw4ht7v8anqx/broadway-01.png?rlkey=c1h5lw2ffn918k8x5btqzqctc&st=35lbaepb&dl=0" class="img-thumbnail">
<h2 class="header">Broadway</h2>
<a href="https://github.com/ainsofea/broadway" class="header" target="_blank"><i class="fab fa-github"></i></a>
<p>A simple static website about tech company named Broadway.</p>
</div>

  <div class="col">
<img src="https://dl.dropboxusercontent.com/s/sgk21fugfo8phqbhs4ifo/messengerapp-01.png?rlkey=phaggw9s458izbi4xv22p6gzn&st=kg5jygz0&dl=0" class="img-thumbnail">
<h2 class="header">Messenger App</h2>
<a href="https://github.com/ainsofea/MessengerApp" class="header" target="_blank"><i class="fab fa-github"></i></a>
<p>An application that could display and create message for everyone to read.</p>
</div>

<div class="col"></div>
  </div>
  </div>
</div>
</body> 

</html>