<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content= 
		"width=device-width, initial-scale=1.0"> 	
</head>

<body> 
<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sofea's Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">View my Work</a>
          </li>          
        </ul> 
      </div>
    </div>
  </div>
</nav>

<div class="content container">
<div class="row">
	<div class="col-4"><img src="https://dl.dropboxusercontent.com/s/4746e8seosuolsz1mmc2c/kayak-perlis.jpg?rlkey=3dqxkoitl203ld3mt49z1gq0e&st=v5q6mpj0
" class="rounded float-start img-thumbnail custom-thumbnail"></div>
	<div class="col-8">Hello, welcome to my portfolio! 
	<br>See my work on <a href="#">View my Work</a> page</div>
</div>
</div>

	<footer class="footer bg-secondary"> 
		<div class="container"> 
			<div class="row"> 				
				<div class="col-md-8"> 
					<h5>Contact</h5> 
					<ul class="list-unstyled"> 
						<li>Email: ainsofeashahruddin@gmail.com</li> 						
						<li>Address: Cyberjaya, Selangor, Malaysia</li> 
					</ul> 
				</div> 
				<div class="col-md-3"> 
					<h5>Social</h5> 
					<ul class="list-inline footer-links"> 
						<li class="list-inline-item"> 
							<a href="https://github.com/ainsofea"> 
								<i class="fab fa-github"></i> 
							</a> 
						</li> 						
						<li class="list-inline-item"> 
							<a href="https://www.linkedin.com/in/ainsofea/"> 
								<i class="fab fa-linkedin"></i> 
							</a> 
						</li> 
					</ul> 
				</div> 
			</div> 
			<hr> 
			<div class="row"> 
				<div class="col-md-6"> 
					<p>© 2024 Sofea's Portfolio. All rights reserved.</p> 
				</div> 				
			</div> 
		</div> 
	</footer> 
</body> 

</html>