<div class="main content container">
  <div class="row">
    <div class="col-8">
      Hello, welcome to my portfolio!
      <br>See my work on <a href="/portfolio" target="_blank">View my Work</a> page where I build projects based on
      <br> <a href="https://www.codecademy.com/courses/learn-rails" target="_blank">Codecademy Learn Rails courses</a>
    </div>
  </div>
</div>