html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }

  a {
    color: darkslategray;
    text-decoration: wavy;
  }

  a:hover {
    color: darkgrey;
    text-decoration: dashed;
  }

  a:visited {
    color: darkblue;
  }
  
  .wrapper {
    flex: 1;
  }
  
  .footer {
    background: #28a745;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .content {
    flex: 1;
    padding-top: 70px; /* adjust based on your navbar height */
  }

  .col-8, .col-4 {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .header {
    display: inline-block;
    vertical-align: middle;
  }
  
  .header a {
    margin-left: 10px;
  }
  